/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-main);
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --primary-color: #695cfe;
  --text-color: #000;
  --shadow: #978cff86;
  /* ====== Transition ====== */
  --tran-main: all 0.4s ease;
}

body.dark {
  --body-color: #18191a;
  --primary-color: #e6dff8;
  --text-color: #695cfe;
  --shadow: #cc00ff42;
}

/* START HEADER */

header {
  min-width: 100vw;
  box-shadow: 1rem 1rem 3rem var(--shadow);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 6%;
  margin-left: 6%;
}

.logo {
  display: flex;
  align-items: center;
  justify-self: center;
}

.logo h1 {
  color: var(--primary-color);
}

.logo img {
  width: 45px;
  height: 45px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links .nav-link {
  padding-right: 20px;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}

.nav-links .nav-link a {
  color: var(--text-color);
}
#switch-mode {
  color: #4400ff;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 5px 19px;
  box-shadow: 1rem 1rem 3rem var(--shadow);
}

/* END HEADER */

/* START HOME */
main {
  margin-top: 25px;
  text-align: center;
  color: var(--text-color);
}

.content {
  display: block;
  align-self: center;
}
/* END HOME */

/* START MEDIA */

@media screen and (max-width: 575px) {
  .nav-links .nav-link {
    padding-right: 5px;
  }
  #switch-mode {
    padding: 5px 10px;
    margin-left: 3px;
  }
  header nav {
    margin-right: 3%;
    margin-left: 3%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767) {
  .nav-links .nav-link {
    padding-right: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991) {
  .nav-links .nav-lin6k {
    padding-right: 16px;
  }
}

/* END MEDIA */
