/* START HEADER */

header {
    min-width: 100vw;
    background: var(--body-color);
    box-shadow: 0 0 3rem var(--shadow);
    user-select: none;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 6%;
    margin-left: 6%;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: center;
}

.logo h1 {
    color: var(--primary-color);
    padding-left: 15px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px var(--primary-color);
}

.nav-links {
    display: flex;
    align-items: center;
    // padding: 0;
}

.nav-links .nav-link {
    padding-right: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

.nav-links .nav-link a {
    color: var(--text-color);
    transition: 0.5s;
    position: relative;
}

.nav-links .nav-link:hover a {
    color: var(--primary-color);
}
.nav-links .nav-link.active a::after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 12px;
    right: 0;
    bottom: -3px;
}
.nav-links .nav-link.active a {
    color: var(--primary-color);
}

#switch-mode {
    color: #723eff;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 3px 20px;
    box-shadow: 1rem 1rem 4rem var(--shadow);
}

#switch-mode:hover {
    color: #00f;
    border-radius: 8px;
}

/* END HEADER */

