@import "../variables";

/* START HEADER */

header {
    min-width: 100vw;
    width: 100vw;
    box-shadow: 0rem 1rem 3rem var(--shadow);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 6%;
    margin-left: 6%;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: center;
}

.logo h1 {
    color: var(--primary-color);
    padding-left: 15px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0.1px 0.1px 10px var(--primary-color);
}

.nav-links {
    display: flex;
    align-items: center;
    // padding: 0;
}

.nav-links .nav-link {
    padding-right: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

.nav-links .nav-link a {
    color: var(--text-color);
    transition: 0.5s;
    position: relative;
}

.nav-links .nav-link:hover a {
    color: var(--primary-color);
}
.nav-links .nav-link.active a::after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 12px;
    right: 0;
    bottom: -3px;
}
.nav-links .nav-link.active a {
    color: var(--primary-color);
}

#switch-mode {
    color: #4400ff;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    padding: 5px 19px;
    box-shadow: 1rem 1rem 4rem var(--shadow);
}

#switch-mode:hover {
    color: #00f;
    border-radius: 10px;
}

/* END HEADER */

.container_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container_cards .card {
    flex-basis: 15%;
    margin: 0 auto;
    background-color: var(--primary-color);
    box-shadow: 0 0 5rem 1.5px var(--shadow);
    border-radius: 12px;
    overflow: hidden;
}

.container_cards .card .text {
    text-align: center;
}
.container_cards .card .text h1 {
    color: var(--body-color);
    font-size: 20px;
}
.container_cards .card .text p {
    color: var(--text-color);
    font-size: 14px;
    margin: 16px 0;
}

// ###################
// ###################
// #######################################################
// ###################
// ###################

.section_students {
    margin: 5%;
}

.section_students .input_form {
    display: flex;
    justify-content: center;
}

.section_students .input_form input {
    border: 5px solid transparent;
    border-radius: 15px;
    color: var(--text-color);
    padding: 8px 12px;
    outline: none;
    box-shadow: 0rem 0rem 5rem var(--shadow);
}

.section_students .input_form input::placeholder {
    color: var(--text-color);
}

.container_students {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 35px 35px;
    padding: 0 12px;
    box-shadow: 0 0 3rem var(--shadow);
    border-radius: 25px;
    overflow-x: hidden;
}

.container_students .student {
    display: flex;
    align-items: center;
    text-align: center;
    border: 5px solid var(--primary-color);
    border-radius: 60px 0px 0px 60px;
    border-left: transparent;
    border-right: transparent;
    margin: 35px 0;
}

.student .info_student {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.student .info_student h1 span {
    color: var(--primary-color);
}

.student .info_student h1 {
    font-size: 15px;
    white-space: nowrap;
    padding: 0 15px;
    color: var(--text-color);
}

.student .monthly_expenses {
    position: relative;
}
.student .monthly_expenses.no::after {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 87%;
    background-color: red;
    border-radius: 12px;
    bottom: -7px;
}

.student .info_student a {
    white-space: nowrap;
    border: var(--text-color) solid 3px;
    box-shadow: 0 0 1rem 3px var(--shadow);
    border-radius: 15px;
    padding: 5px 10px;
    transition: 0.5s;
    margin-left: 15%;
    margin-right: 15%;
}

.student .info_student a:hover {
    background: var(--primary-color);
    color: #fff;
}

.student .student_img img {
    box-shadow: 0 0 8px var(--primary-color);
    margin: 5px 0 0 6.5px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 575px) {
    .nav-links .nav-link {
        padding-right: 5px;
        font-size: 16px;
    }
    #switch-mode {
        padding: 3px 10px;
        margin: 0 5px;
    }
    header nav {
        margin-right: 0;
        margin-left: 1%;
        margin: 0;
    }
    .logo h1 {
        font-size: 15px;
        padding-left: 8px;
    }
    .logo img {
        width: 35px;
        height: 35px;
    }

    .container_cards .card {
        flex-basis: 80%;
        margin-top: 15px;
    }

    .section_students {
        margin: 8% 0;
    }

    .container_students {
        margin: 35px 3px;
        padding: 0 0px;
    }
    .container_students .student {
        flex-direction: column;
        margin: 10px auto;
        border-radius: 0;
        padding: 5px 0;
    }

    .student .info_student {
        justify-content: center;
        padding: 0 auto;
    }

    .student .info_student h1 {
        font-size: 6px;
        font-weight: bold;
        padding: 0 3px;
    }

    .student .info_student a {
        margin: 0;
        padding: 3px 3px;
        font-size: 6px;
        border: var(--text-color) solid 1px;
    }

    .student .student_img img {
        width: 35px;
        height: 35px;
    }

    .student .monthly_expenses.no::after {
        height: 2px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767) {
    .nav-links .nav-link {
        padding-right: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991) {
    .nav-links .nav-link {
        padding-right: 15px;
    }
}

/* END MEDIA */

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 10px 10px 10px var(--text-color);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 10px 10px 10px var(--primary-color);
}
